PROJECT_NAME="Piso Alto Realty API"
ENVIRONMENT="production"
DATABASE_URL="postgresql+psycopg2://USER:PASSWORD@DB_HOST:5432/pisoalto_db"
SECRET_KEY=
ADMIN_EMAIL="jacobopuntonet@outlook.com"
ADMIN_PASSWORD="j46306301J"
UPLOAD_DIR="/data/pisoalto/uploads"
